@media (max-width: 768px) {

    header {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        text-align: center;
    }

    .logo h1 {
        font-size: 1.8rem;
    }

    .btn-admin {
        width: 100%;
        max-width: 280px;
    }

    .titulo-servicos {
        padding: 0 20px;
    }

    .titulo-servicos h2 {
        font-size: 1.7rem;
    }

    .titulo-servicos p {
        font-size: 0.95rem;
    }

    .cards-servicos {
        flex-direction: column;
        align-items: center;
    }

    .card-servico {
        width: 85%;
        max-width: 320px;
    }

    #agendamento {
        padding: 0 20px;
    }

    .caixa-horarios {
        grid-template-columns: repeat(2, 1fr);
        padding: 20px;
    }

    .card-horario {
        width: 100%;
    }

    #dados-cliente,
    #area-login,
    #area-admin {
        width: 85%;
        padding: 20px;
    }

    footer {
        padding: 25px 15px;
    }
}
@media (max-width: 480px) {

    .logo h1 {
        font-size: 1.5rem;
    }

    .caixa-horarios {
        grid-template-columns: 1fr;
    }

    .titulo-servicos h2 {
        font-size: 1.5rem;
    }

    .card-servico {
        width: 90%;
    }
}
